  /* customfont-regular - latin */
  @font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/customfont/customfont-400.ttf') format('truetype'); 
  }
  /* customfont-500 - latin */
  @font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/customfont/customfont-500.ttf') format('truetype'); 
  }
  /* customfont-600 - latin */
  @font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/customfont/customfont-600.ttf') format('truetype'); 
  }
  /* customfont-700 - latin */
  @font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/customfont/customfont-700.ttf') format('truetype'); 
  }
  /* customfont-800 - latin */
  @font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/customfont/customfont-800.ttf') format('truetype'); 
  }
  /* customfont-900 - latin */
  @font-face {
    font-family: 'customfont';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/customfont/customfont-900.ttf') format('truetype'); 
  }